<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что там с погодой?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Что там с погодой?</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.city }}
            <button type="submit">Узнать</button>
        </form>

        {% if weather_data %}
            <h2>Погода в {{ weather_data.city }}</h2>
            <p>Температура: {{ weather_data.current.temperature_2m }}°C</p>
            <p>Влажность: {{ weather_data.current.relative_humidity_2m }}%</p>
            <p>День: {{ weather_data.current.is_day }}</p>
            <p>Осадки: {{ weather_data.current.precipitation }} мм</p>
            <p>Атмосферное давление: {{ weather_data.current.surface_pressure }} гПа</p>
            <p>Скорость ветра: {{ weather_data.current.wind_speed_10m }} м/с</p>
            <p>Порывы ветра: {{ weather_data.current.wind_gusts_10m }} м/с</p>
        {% endif %}
    </div>
</body>
</html>
