body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    color: #302d2d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1, h2, h3 {
    color: #555;
}

form {
    margin-bottom: 20px;
    position: relative;
}

form input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.help-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    color: #888;
    font-size: 14px;
}

th {
    background-color: #f7f7f7;
    vertical-align: top;
}
